<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- Bringup Camera port_1 -->
  <include file="$(find ew_demo)/launch/camera.launch">
    <arg name="index"       value="1"/>
    <arg name="camera_name" value="tier4_c1_85"/>
  </include>
  <!-- Bringup Camera port_3 -->
  <include file="$(find ew_demo)/launch/camera.launch">
    <arg name="index" value="3"/>
    <arg name="camera_name" value="tier4_c1_120"/>
  </include>
  <!-- Bringup Camera port_5 -->
  <include file="$(find ew_demo)/launch/camera.launch">
    <arg name="index" value="5"/>
    <arg name="camera_name" value="tier4_c1_85"/>
  </include>
  <!-- Bringup Camera port_7 -->
  <include file="$(find ew_demo)/launch/camera.launch">
    <arg name="index" value="7"/>
    <arg name="camera_name" value="tier4_c1_120"/>
  </include>
  
</launch>
